@import "tailwindcss";


body {
    font-family: "DM Sans", sans-serif;
}

@theme {
  --color-natural-900: #12131A;
  --color-natural-800: #21222C;
  --color-natural-700: #2A2B37;
  --color-natural-600: #404254;
  --color-natural-200: #E4E4EF;
  --color-natural-100: #F2F2F7;
  --color-natural-0: #FFFFFF;
  --color-blue-400: #D3A0FA;
  --color-blue-500: #C27CF8;
  --color-yellow-500: #FF9F00;
  --color-orange-500: #FE8159;
  --color-orange-800: #DA3701;
}


.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}